@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: 0 0% 100%;
  --foreground: 0 0% 10%;
}

html,
body,
:root {
  height: 100%;
}

body {
  @apply bg-white text-neutral-900 text-[15px] sm:text-base;
}

.container {
  @apply mx-auto px-4 max-w-6xl;
}
